{% extends 'main.html' %}

{% block content %}

<h1>{{room.name}}</h1>

<h3>{{room.description}}</h3>

<div class="comment-wrapper">
    <h3>Conversação</h3>
    <hr>

    {% for message in roomMessages %}
        <div>
            <small>@{{message.user}} {{message.created|timesince}} atrás </small>
            <p> {{message.body}} </p>
            <hr>
        </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method="POST" action=""> 
        {% csrf_token %}
        <input type="text" name="body" placeholder="Insira sua mensagem" />
    </form>
</div>
{% endif %}

{% endblock %}